{{ ansible_managed | comment(decoration="; ") }}

; Start of Authority record
$TTL  {{ ttl }}
@     IN      SOA   {{ domain_name }}. root.{{ domain_name }}. (
    {{ zone_serial }}  ; Zone Serial Number
    {{ refresh_time }} ; Refresh (time before asking if entry was updated)
    {{ retry_time }}   ; Retry (time before querying again an unresponsive nameserver)
    {{ expire_time }}  ; Expire (time before secondary server stops responding to queries)
    {{ soa_ttl }}      ; TTL
)

; Default nameserver
@     IN      NS    ns.{{ domain_name }}.

; Nameserver IP
ns    IN      A     {{ network_router }}

; Root domain IP
@     IN      A     {{ network_router }}

; Define subdomain
router  IN    A     {{ network_router }}
