{{ ansible_managed | comment }}

zone "{{ domain_name }}" {
  type master;
  file "/etc/bind/zones/forward.{{ domain_name }}";
};

zone "reverse.{{ domain_name }}" {
  type master;
  file "/etc/bind/zones/reverse.{{ domain_name }}";
};
