{{ ansible_managed | comment("c") }}

options {
  directory "/var/cache/bind";

  listen-on port 53 {
    any;
  };

  allow-query {
    any;
  };

  forwarders {
    1.1.1.1;
  };

  dnssec-enable yes;
  dnssec-validation yes;

  recursion yes;
};
