{{ ansible_managed | comment(decoration="; ") }}

; Start of Authority record
$TTL  {{ ttl }}
@     IN      SOA   {{ domain_name }}. root.{{ domain_name }}. (
    {{ zone_serial }}  ; Zone Serial Number
    {{ refresh_time }} ; Refresh (time before asking if entry was updated)
    {{ retry_time }}   ; Retry (time before querying again an unresponsive nameserver)
    {{ expire_time }}  ; Expire (time before secondary server stops responding to queries)
    {{ soa_ttl }}      ; TTL
)

; Default nameserver
@     IN      NS    ns1.{{ domain_name }}.

; Reverse DNS for nameserver
{{ network_router }}   IN      PTR     ns.{{ domain_name }}.

; Reverse DNS for subdomain
{{ network_router }}   IN      PTR     router.{{ domain_name }}.
