{{ ansible_managed | comment }}

authoritative;

subnet {{ network }} netmask {{ network_mask }} {
  range {{ network_min }} {{ network_max }}; 
  option routers {{ network_router }};
  option subnet-mask {{ network_mask }};
  option domain-name-servers {{ dns_servers|join(", ")|default("1.1.1.1") }};
  option broadcast-address {{ broadcast }};
  default-lease-time {{ default_lease }};
  max-lease-time {{ max_lease }};
}
