{{ ansible_managed | comment }}

network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s3:
      dhcp4: yes
    enp0s8:
      dhcp4: no
      addresses: [{{ exposed_ip }}/{{ exposed_cidr | ansible.utils.ipaddr("prefix") }}]
    enp0s9:
      dhcp4: no
      addresses: [{{ network_router }}/{{ network_cidr | ansible.utils.ipaddr("prefix") }}]
      nameservers:
        addresses: [{{ dns_servers|join(", ")}}]
